*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-very-dark-blue: rgb(76, 78, 97);
  --neutral-grayish-blue: #a3a5ae;
  --neutral-very-light-gray: hsl(0, 0%, 98%);

  --fs: 15px;
  --ff: "Poppins", sans-serif;
  --ff-fw-extra-light: 200;
  --ff-fw-regular: 400;
  --ff-fw-semi-bold: 600;

  --outline: 1px solid red;

  --card-border: 0.2em solid transparent;
}

body {
  font-family: var(--ff);
  font-size: 15px;
  background-color: var(--neutral-very-light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  gap: 4rem;
  max-width: 311px;
}

.heading {
  text-align: center;
}

.main-title {
  font-weight: var(--ff-fw-extra-light);
}

.sub-title,
.role {
  color: var(--neutral-very-dark-blue);
}

.title-description {
  color: var(--neutral-grayish-blue);
  margin-top: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 5px 15px var(--neutral-grayish-blue);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.img-container {
  padding-top: 2.25rem;
  text-align: right;
}

.img-container > img {
  height: 3.125rem;
}

.card:nth-child(1) {
  border: var(--card-border);
  border-top-color: var(--primary-cyan);
}
.card:nth-child(2) {
  border: var(--card-border);
  border-top-color: var(--primary-red);
}
.card:nth-child(3) {
  border: var(--card-border);
  border-top-color: var(--primary-orange);
}
.card:nth-child(4) {
  border: var(--card-border);
  border-top-color: var(--primary-blue);
}

.role-definition {
  color: var(--neutral-grayish-blue);
  font-weight: var(--ff-fw-regular);
  font-size: 0.75rem;
  margin-right: 1.75rem;
  line-height: 1.25rem;
}

@media (min-width: 75rem) {
  .container {
    min-height: 100vh;
    margin: auto;
    width: 32rem;
    max-width: 90rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 311px);
    grid-template-rows: repeat(4, calc(200px / 2));
    gap: 1.5rem;
  }

  .card:nth-child(1) {
    grid-row: 2;
    grid-row-end: span 2;
  }

  .card:nth-child(2) {
    grid-row: span 2;
  }

  .card:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
    grid-row-end: span 2;
  }

  .card:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
    grid-row-end: span 2;
  }

  .role-definition {
    margin-right: 1.65rem;
  }
}
